:root {
    --brand-primary: #4CAF4F;
    --light-green: #E8F5E9;
    --neutral-silver: #F5F7FA;
    --text-gray: #18191F;
    --neutral-grey: #717171;
    --neutral-d-grey: #4D4D4D;
    --neutral-l-grey: #89939E;
    --neutral-black: #263238;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;

}

.wrapper {
    width: 100%;
    padding: 0 150px;

}

.btn {
    background-color: var(--brand-primary);
    color: var(--neutral-white, #FFF);
    padding: 14px 32px;
    text-align: center;
    border-radius: 4px;
    transition: all ease-in-out 200ms;
}

.btn:hover {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

.btn:active {
    background-color: var(--neutral-silver);
    box-shadow: inset 0px 0px 0px 2px rgba(76, 175, 79, 1);
    color: var(--brand-primary);
}


a.btn {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

header {
    background-color: var(--neutral-silver);
    height: 100vh;
    padding-top: 84px;
}

header>nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    min-height: 84px;
    background-color: var(--neutral-silver);
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.company-logo img {
    margin-right: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 5px 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-gray-900, #18191F);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: all ease-in-out 300ms;
}

nav ul li a:hover {
    color: var(--brand-primary);
    font-size: 18px;
    text-shadow: 0 0 2px rgba(79, 211, 79, 0.397);
}

nav .company-logo {
    min-height: 24px;
}

nav .center {
    min-height: 24px;
    gap: 50px;
}

nav .end {
    min-height: 40px;
}

nav .end li {
    padding: 10px 20px;
    border-radius: 6px;
    transition: all ease-in-out 300ms;
}

nav .end li:first-child:active {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

}

nav .end li:first-child:hover {
    background-color: var(--light-green);
}

nav .end li:first-child a {
    color: var(--brand-primary, #4CAF4F);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

nav .end li:last-child {
    background-color: var(--brand-primary);
    margin-left: 10px;
}

nav .end li:last-child:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

nav .end li:last-child:active {
    box-shadow: 0px 0px 10px 1px rgba(3, 107, 10, 0.9);
}

nav .end li:last-child a {
    color: var(--default-white, #FFF);
    font-family: "Inter", sans-serif, ;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

header .wrapper .hero-section {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 104px;
    position: relative;
}

header .wrapper .hero-section .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

header .wrapper .hero-section .left h2 span:first-child {
    color: var(--neutral-d-grey);
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
}

header .wrapper .hero-section .left h2 span:last-child {
    color: var(--brand-primary);
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
}

.hero-section .left p {
    color: var(--neutral-grey);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 16px 0 32px 0;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.hero-section .right img {
    width: 391px;
    height: 407px;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 4%;
    right: 50%;
    transform: translateX(50%);
}

.dot {
    background-color: #4caf4f5d;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.dots .dot-1 {
    background-color: var(--brand-primary);
}

.clients-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    width: 100%;
}

.clients-section h3 {
    color: var(--neutral-d-grey);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.clients-section p {
    margin-top: 8px;
    color: var(--neutral-grey);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.clients-section .clients-logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
    min-height: 98px;
}

.community-section h3 {
    color: var(--neutral-d-grey);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 8px;
}

.community-section p {
    color: var(--neutral-grey);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.cards-frame {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 299px;
    padding: 24px 32px;
    height: 100%;
    min-height: 300px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.25);
    transition: all ease 200ms;
}

.card:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.24);
    transform: scale(1.05);
}

.card .card-icon {
    margin-bottom: 16px;
    position: relative;
}

.card .card-icon .bg {
    width: 50px;
    height: 49px;
    background-color: var(--light-green);
    border-radius: 18px 5px 10px 5px;
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: -1;
}

.card .card-icon img {
    height: 48px;
    width: 48px;
}

.card .card-heading {
    color: var(--neutral-d-grey);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.card .card-contant {
    color: var(--neutral-grey);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 251px;
    margin-top: 8px;
}

.card-1 .card-contant p {
    min-width: 251px;
}

.card-2 .card-contant p {
    min-width: 240px;
}

.card-3 .card-contant p {
    min-width: 251px;
}

.wrapper .vision-section {
    width: 100%;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.vision-section .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 661px;
    padding-right: 60px;
}

.vision-section .right h3 {
    color: var(--neutral-d-grey);
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 16px;
}

.vision-section .right p {
    color: var(--neutral-grey);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}

.achievement-section {
    width: 100%;
    margin: 48px 0;
    background-color: var(--neutral-silver);
    padding: 64px 0;
}

.achievement-section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.achievement-section .left h3 span:first-child {
    color: var(--neutral-d-grey);
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.achievement-section .left h3 span:last-child {
    color: var(--brand-primary);
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.achievement-section .left p {
    color: var(--text-gray);
    margin-top: 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.right .counter-cards-container {
    display: flex;
    gap: 30px;
}

.counter-cards-container .sub-container-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: self-start;
}

.counter-cards-container .sub-container-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.counter-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.counter-card .num-counter {
    width: 200px;
}

.counter-card .num-counter h3 {
    color: var(--neutral-d-grey);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.counter-card .num-counter p {
    color: var(--neutral-grey);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.vision2-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.vision2-section .right {
    max-width: 661px;
    padding-right: 60px;

}

.vision2-section .right h3 {
    color: var(--neutral-d-grey);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 8px;
}

.vision2-section .right p {
    color: var(--neutral-grey);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}

.customers-review-section {
    margin: 48px 0;
    background-color: var(--neutral-silver);
    padding-top: 32px;
    padding-bottom: 32px;

}

.customers-review-section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
}

.customers-review-section .wrapper .left {
    padding-top: 25px;
}

.customers-review-section .wrapper .right {
    max-width: 748px;
}

.customers-review-section .wrapper .right p {
    color: var(--neutral-grey);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;

}

.customers-review-section .customer-detail h4 {
    color: var(--brand-primary);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.customers-review-section .customer-detail p {
    color: var(--neutral-l-grey);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 6px;
    min-width: 748px;
}

.customers-review-section .meet-customers {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.customers-review-section .meet-customers a {
    color: var(--brand-primary);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
}

.customers-review-section .customers-logos {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.customers-review-section .wrapper .right .customer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

.marketing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.marketing-section .top {
    text-align: center;
    max-width: 630px;
}

.marketing-section .top h3 {
    color: var(--neutral-d-grey);
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    margin-bottom: 8px;
}

.marketing-section .top p {
    color: var(--neutral-grey);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.marketing-section .bottom {
    width: 100%;
}

.marketing-section .bottom .marketing-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.marketing-cards .marketing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 368px;
    position: relative;
}

.marketing-card .upper-img {
    width: 100%;
}

.marketing-cards .marketing-card .bottom-details {
    padding: 0 51px;
    position: absolute;
    bottom: -25%;
    transition: all ease 300ms;
}

.marketing-cards .marketing-card .bottom-details:hover {
    bottom: -27%;
    transform: scale(1.009);
}

.card-details {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: var(--neutral-silver);
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
    min-width: 317px;
    border-radius: 8px;
}

.bottom-details p {
    color: var(--neutral-grey);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.bottom-details span {
    color: var(--brand-primary);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-right: 5px;
    transition: all ease 300ms;
}

.bottom-details span:hover {
    margin-right: 15px;
    cursor: pointer;
}

.bottom-details span:active {
    margin-right: 5px;
}

.ending-section {
    margin-top: 175px;
    background-color: var(--neutral-silver);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.ending-section .top {
    margin-bottom: 32px;
}

.ending-section .top h3 {
    color: var(--neutral-black);
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
    max-width: 890px;
}

.ending-section .bottom .demo-btn {
    margin: 20px 0;
}

.ending-section .bottom .demo-btn .btn {
    padding-right: 55px;
}

.ending-section .bottom .demo-btn img {
    position: absolute;
    z-index: 50;
    left: 50%;
    transform: translateX(calc(50% + 27px));
}

footer {
    background-color: var(--neutral-black);
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-logo img:first-child {
    margin-right: 10px;
}

footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    gap: 170px;
}

footer .wrapper .left {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

footer .copyright p {
    color: var(--neutral-silver, #F5F7FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

footer .copyright p:first-child {
    margin-bottom: 8px;
}

footer .social-media-icons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

footer .social-media-icons .icon img {
    transition: all ease 300ms;
}

footer .social-media-icons .icon img:hover {
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 55%;
}

footer .wrapper .right {
    width: inherit;
}

footer .links-container {
    display: grid;
    grid-template-columns: 160px 160px 1fr;
    column-gap: 30px;
}

footer .right .link-container h4 {
    color: var(--neutral-white, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.link-container ul {
    list-style: none;
    padding: 0;
}

.link-container ul li {
    margin-top: 12px;
}

.link-container ul li:first-child {
    margin-top: 24px;
}

.link-container ul a {
    color: var(--neutral-silver, #F5F7FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    transition: all ease 300ms;
}

.link-container ul a:hover {
    font-size: 16px;
}

.link-container ul a::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #4CAF4F;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(7px);
    transition: all ease 300ms;
}

.link-container ul a:hover:before {
    width: 100%;
    color: #18191F;
}

.link-container h4 {
    margin-bottom: 24px;
}

.link-container form input[type=text] {
    height: 40px;
    width: 100%;
    background-color: #505B61;
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    transition: all ease 200ms;
}

.link-container form input[type=text]:focus {
    background-color: #4CAF4F;
    padding-left: 15px;
    border-style: none;
    outline: none;
    color: var(--neutral-silver);
    font-size: 16px;
}

.link-container form input[type=text]::placeholder {
    color: #D9DBE1;
}

.link-container form img {
    position: relative;
    float: right;
    top: -28px;
    right: 10px;
}


@media screen and (max-width :1490px) {

    .marketing-section .bottom .marketing-cards {
        gap: 30px;
    }

    .customers-review-section .wrapper {
        gap: 20px;
    }

    .customers-review-section .wrapper .right {
        max-width: 50vw;
    }

    .customers-review-section .meet-customers a {
        font-size: 14px;
    }

    .customers-review-section .customers-logos {
        gap: unset;
    }

    .vision2-section .right {
        padding-right: unset;
    }

    footer .links-container {
        grid-template-columns: 160px 160px;
        gap: 30px;
    }

    .links-container .link-container:last-child {
        grid-column: 1 / -1;
    }
}


@media screen and (min-width: 1201px) and (max-width: 1300px) {

    html,
    body {
        width: 100%;
    }

    .wrapper {
        padding: 0 100px;
    }

    nav .center {
        gap: unset;
    }

    .customers-review-section .wrapper {
        gap: 20px;
    }

    .customers-review-section .wrapper .right {
        max-width: 50vw;
    }

    .customers-review-section .meet-customers a {
        font-size: 14px;
    }

    .customers-review-section .wrapper .right .customer-logo {
        gap: 30px;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {

    header>nav {
        padding: 0 50px;
    }

    nav .center {
        gap: unset;
    }

    .wrapper {
        padding: 0 80px;
    }

    header .wrapper .hero-section {
        padding-top: 15%;
        gap: unset;
    }

    header .wrapper .hero-section .left {
        gap: 20px;
    }

    header .wrapper .hero-section .left h2 span:first-child {
        font-size: 48px;
        line-height: 90px;
    }

    header .wrapper .hero-section .left h2 span:last-child {
        font-size: 48px;
        line-height: unset;
    }

    .hero-section .right img {
        height: 300px;
        width: 300px;
    }

    .clients-section .clients-logos {
        justify-content: space-evenly;
    }

    .clients-section h3 {
        font-size: 30px;
    }

    .community-section h3 {
        font-size: 30px;
    }

    .card {
        width: 260px;
        justify-content: space-evenly;
        padding: 10px;
        min-height: 260px;
    }

    .card .card-contant {
        margin-top: 0;
    }

    .card h3 {
        font-size: 20px;
    }

    .card .card-icon .bg {
        left: 10px;
    }

    .card p {
        font-size: 12px;
    }

    .card-1 .card-contant p {
        min-width: unset;
    }

    .card-2 .card-contant p {
        min-width: unset;
    }

    .card-3 .card-contant p {
        min-width: unset;
    }

    .vision-section .left img {
        height: 300px;
        width: 300px;
    }

    .vision-section .right h3 {
        font-size: 30px;
    }

    .vision-section .right p {
        font-size: 14px;
    }

    .btn {
        padding: 10px 15px;
    }

    .achievement-section .wrapper {
        justify-content: space-around;
    }

    .achievement-section .left h3 span:first-child {
        font-size: 30px
    }

    .achievement-section .left h3 span:last-child {
        font-size: 30px
    }

    .right .counter-cards-container {
        gap: unset;
    }

    .counter-card .num-counter h3 {
        font-size: 18px;
    }

    .counter-card .num-counter p {
        font-size: 16px;
    }

    .counter-card .num-counter {
        width: 150px;
    }

    .counter-cards-container .sub-container-1 {
        justify-content: space-around;
    }

    .counter-cards-container .sub-container-2 {
        justify-content: space-around;
    }

    .vision2-section .left img {
        height: 300px;
        width: 300px;
    }

    .vision2-section .right h3 {
        font-size: 28px;
    }

    .vision2-section .right p {
        font-size: 14px;
    }

    .customers-review-section .wrapper .left {
        padding-top: unset;
    }

    .customers-review-section .left img {
        height: 300px;
        width: 300px;
    }

    .customers-review-section .wrapper {
        justify-content: flex-start;
        gap: 30px;
    }

    .customers-review-section .wrapper .right {
        max-width: unset;
    }

    .customers-review-section .wrapper .right p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
        min-width: 100%;
    }

    .customers-review-section .customers-logos {
        flex-direction: column;
        margin-top: 10px;
    }

    .marketing-section .top h3 {
        font-size: 30px;
    }

    .marketing-section .top p {
        font-size: 14px;
    }

    .card-details {
        min-width: 250px;
        gap: 15px;
        padding: 20px 15px;
    }

    .bottom-details p {
        font-size: 16px;
        line-height: 25px;
    }

    .bottom-details span {
        font-size: 14px;
    }

    .ending-section .top h3 {
        font-size: 55px;
    }

    footer {
        padding: 30px 0;

    }

    footer .wrapper {
        justify-content: space-around;
        gap: unset;
    }

    footer .wrapper .right {
        width: unset;
    }

}


@media screen and (min-width: 320px) and (max-width: 480px) {

    /* font size h3 = 30px and p = 14px */

    /* NAVIGATION SECTION */

    header>nav {
        padding: 5px 25px;
        min-height: 70px;
    }

    nav .center {
        display: none;
    }

    nav ul {
        align-items: center;
    }

    nav .end li {
        padding: 10px 15px;
    }
    nav .end li:last-child {
        margin-left: unset;
    }

    /* HERO SECTION */

    .btn {
        padding: 10px 35px;
    }

    .wrapper {
        padding: 0 30px;
    }

    header .wrapper .hero-section {
        padding-top: unset;
        flex-direction: column;
        gap: 85px;
    }

    header .wrapper .hero-section .left h2 span:first-child {
        font-size: 35px;
        line-height: 40px;
    }

    header .wrapper .hero-section .left h2 span:last-child {
        font-size: 35px;
        line-height: 60px;
    }

    .hero-section .left p {
        margin: 10px 0 20px 0;
    }

    .hero-section .right img {
        height: 300px;
        width: 300px;
    }

    .dots {
        bottom: 1%;
    }

    /* OUR CLIENT SECTION */

    .clients-section h3 {
        font-size: 30px;
    }

    .clients-section p {
        font-size: 14px;
    }

    .clients-section .clients-logos {
        border: 2px solid rgba(0, 0, 0, 0.376);
        padding: 10px 20px;
        border-radius: 8px;
        width: 100%;
        overflow: auto;
        gap: 20px;
    }

    ::-webkit-scrollbar {
        height: 0px;
    }


    /* COMMUNITY SECTION */

    .community-section h3 {
        font-size: 30PX;
        line-height: 40PX;
    }

    .community-section p {
        font-size: 14px;
        margin-bottom: 25px;
    }

    /* CARDS SECTION */

    .cards-frame {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .card .card-icon .bg {
        left: 8px;
    }

    .card .card-heading {
        font-size: 23px;
    }

    .card:hover {
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    }

    /* VISION SECTION */

    .wrapper .vision-section {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .vision-section .left img {
        height: 300px;
        width: 300px;
    }

    .vision-section .right {
        padding-right: unset;
    }


    .vision-section .right h3 {
        font-size: 30px;
    }

    .vision-section .right {
        align-items: center;
    }


    /* achievement-section */

    .achievement-section {
        padding: 20px 0;
    }

    .achievement-section .wrapper {
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
    }

    .achievement-section .left h3 span:first-child {
        font-size: 32px;
    }

    .achievement-section .left h3 span:last-child {
        font-size: 32px;
    }

    .right .counter-cards-container {
        flex-direction: column;
        gap: 20px;
    }

    .counter-card {
        gap: 30px;
    }

    .counter-cards-container .sub-container-1 {
        gap: 20px;
    }

    .counter-cards-container .sub-container-2 {
        gap: 20px;
    }

    .counter-card .num-counter {
        width: unset;
    }

    /* VISION2 SECTION */

    .vision2-section {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .vision2-section .left img {
        width: 300px;
        height: 300px;
    }

    .vision2-section .right h3 {
        font-size: 32px;
    }

    .vision2-section .right p {
        font-size: 14px;
    }

    /* CUSTOMERS REVIEW SECTION */

    .customers-review-section .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .customers-review-section .wrapper .left img {
        height: 300px;
        width: 300px;
    }

    .customers-review-section .wrapper .right  {
        max-width: unset;
        width: 100%;
    }

    .customers-review-section .wrapper .right p {
        font-size: 14px;
    }

    .customers-review-section .customer-detail p {
        min-width: unset;
    }

    .customers-review-section .customers-logos {
        flex-direction: column;
        gap: 10px;
    }

    .customers-review-section .wrapper .right .customer-logo {
        gap: 15px;
        overflow: auto;
        width: 100%;
    }

    /* MARKETING SECTION */

    .marketing-section .top h3 {
        font-size: 30px;
    }

    .marketing-section .top p {
        font-size: 14px;
    }

    .marketing-section .bottom .marketing-cards {
        flex-direction: column;
        gap: 120px;
    }

    .bottom-details p {
        font-size: 18px;
    }

    .bottom-details span {
        font-size: 16px;
    }

    /* ENDING SECTION  */

    .ending-section {
        margin-top: 150px;
    }

    .ending-section .top {
        max-width: 90%;
        margin-bottom: 10px;
    }

    .ending-section .top h3 {
        font-size: 30px;
        line-height: 50px;
    }

    /* FOOTER SECTION */

    footer {
        padding: 20px 0;
    }

    footer .wrapper {
        flex-direction: column-reverse;
        gap: unset;
    }

    footer .wrapper .left {
        min-width: unset;
        width: 100%;
        gap: 20px;
        align-items: center;
    }

    footer .wrapper .left .copyright {
        width: 100%;
        text-align: center;
    }
    footer .copyright p {
        font-size: 10px;
        line-height: unset;
    }

    footer .social-media {
        width: 100%;
    }

    footer .social-media-icons {
        width: 100%;
        justify-content: space-around;
        gap: unset;
    }

    footer .links-container {
        column-gap: unset;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    
    footer .link-container {
        text-align: center;
    }

}